.progress {
    height: 7px;
    background-color: #f1f1f1;
    overflow: hidden;
    border-radius: 10px;
}

.progressBar {
    transition: width 1s ease-in-out;
    height: 100%;
    border-radius: 10px;
}

.dialog {
    &:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease;
    }
}
