.lottieSection {
    position: absolute;
    text-decoration: none;
    bottom: 15px;
}

.animatedParagraph p {
    color: white;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .animatedParagraph p::after {
    content: '|'; /* ajout d'un curseur clignotant */
    animation: blink 0.7s infinite;
    display: inline-block;
    width: 2px;
    margin-left: 5px;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  

  .zoom-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .zoom-text h1 {
    font-size: 3rem;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }
  
  .zoom-text:hover h1 {
    transform: scale(1.2);
  }